@import url('reset.css');

.wrapper {
   position: relative;
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}

.wrapper>main {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: 1422px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;

}

/* @import url('font.css'); */



.nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 80px;
   padding: 61px 0;
   flex-wrap: wrap;
}






.search {
   display: flex;
   align-items: center;
   gap: 12px;
   border-bottom: 1px solid gray;
   max-width: 264px;

}

.search__inp:hover {
   text-decoration: underline;

}

.search__btn {
   background-image: url(../img/search.svg);
   background-color: #fff;
   width: 20px;
   height: 20px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}



.search__inp {
   padding-top: 12px;
   padding-bottom: 12px;
   border: none;
   width: 100%;
}

.search__inp:focus {
   outline: none;
}

.nav__list {
   display: flex;
   gap: 44px;
   color: #2f302c;
   font-size: 16px;
   font-style: normal;
   font-family: "Lato", sans-serif;
   font-weight: 700;
   line-height: 1.25;
   text-transform: uppercase;
}

.card__link:hover,
.nav__link:hover {
   text-decoration: underline;
}

.nav__item--arrow::after {
   content: '';
   cursor: pointer;
   vertical-align: middle;
   background-image: url('../img/arrow.svg');
   width: 20px;
   height: 20px;
   background-repeat: no-repeat;
   background-size: cover;

}

.nav__card {
   margin-left: auto;

}

.card__list {
   display: flex;
   gap: 44px;
   color: #2f302c;
   font-size: 16px;
   font-style: normal;
   font-family: "Lato", sans-serif;
   font-weight: 700;
   line-height: 1.25;
   letter-spacing: 0;
   text-transform: none;

}



.card__item--cart::before {
   content: '';
   cursor: pointer;
   background-image: url('../img/cart.svg');
   width: 20px;
   height: 20px;
   vertical-align: middle;
   background-repeat: no-repeat;
   background-size: cover;
   margin-right: 4px;

}

.card__item--love::before {
   content: '';
   cursor: pointer;
   background-image: url('../img/heart.svg');
   width: 20px;
   height: 20px;
   vertical-align: middle;
   background-repeat: no-repeat;
   background-size: cover;
   margin-right: 4px;
}



.hero {
   position: relative;
   align-items: center;
   overflow: hidden;
   padding-top: 114px;
   padding-bottom: 110px;

}

.hero__bg {
   position: absolute;
   top: 0;
   left: 0%;
   width: 100%;
   height: 100%;
   z-index: -1;
}

.hero__bg img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: 35% 50%;
}

.hero__content {
   max-width: 630px;
   margin-left: auto;



}

.hero__subtitle {
   margin-bottom: 20px;
   color: #2f302c;
   font-size: 20px;
   font-family: "Lato", sans-serif;
   font-weight: 700;
   line-height: 1.4;
   text-transform: uppercase;
}

.hero__title {
   width: 518px;
   color: #2f302c;
   font-size: 96px;
   font-family: "Montserrat", sans-serif;
   font-weight: 800;
   line-height: 1.05;
   text-transform: uppercase;
   margin-bottom: 16px;
}

.hero__title span {
   font-weight: 700;
}

.hero__line {
   min-height: 1px;
   max-width: 308px;
   width: 66.6%;
   background-color: black;
   margin-bottom: 36px;
}

.hero p {
   color: #7e7f7c;
   font-size: 16px;
   font-family: "Lato", sans-serif;
   font-weight: 500;
   line-height: 1.25;
}

.hero__text {
   max-width: 374px;
}

.hero__text p:not(:last-child) {
   margin-bottom: 10px;
}

.hero__text p {
   width: 100%;
}




@media (max-width:1252px) {

   .nav {
      gap: 40px;
   }


}

@media (max-width:1170px) {

   .card__list,
   .nav__list {
      gap: 15px;

   }
}


@media (max-width:1024px) {

   .hero__title {
      font-size: 80px;
   }

   .card__list,
   .nav__list {
      gap: 15px;
      font-size: 14px;

   }

   .hero {
      padding-top: 70px;
      padding-bottom: 65px;
   }

   .hero p {
      color: #2f302c;
   }

   .nav {
      padding: 20px 0;
      gap: 20px;
      justify-content: center;
   }

   .search {
      max-width: 150px;
   }



}

@media (max-width:880px) {


   .nav {
      gap: 20px;
   }

   .nav__logo {
      max-width: 150px;
   }

   .nav__search {

      max-width: 100px;


   }


}

@media (max-width:767px) {

   .nav {
      padding: 10px 0;
      justify-content: space-around;
      flex-direction: row;
      column-gap: 20px;
   }

   .nav__card {
      margin-left: 0;
   }

   .nav__search {
      max-width: 100px;
   }

   .nav__menu {
      order: 1;
   }


}

@media (max-width:500px) {

   .hero {
      padding-top: 50px;
      padding-bottom: 45px;
   }

   .hero p {
      color: #2f302c;
   }

   .hero__subtitle {
      margin-bottom: 7px;
   }

   .hero__title {
      font-size: 60px;
      margin-bottom: 2px;
   }

   .nav {

      flex-direction: row;
      gap: 20px;
      justify-content: space-around;
   }

   .nav__card {
      margin-left: 0;
   }

   .nav__menu {
      order: 1;

   }


}