@font-face {
   font-family: "Frutiger";
   src: url('../fonts/FrutigerLTStd-Cn.woff2') format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Gotham";
   src: url('../fonts/Gotham-Thin.woff2') format("woff2");
   font-weight: 100;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Helvetica Neue";
   src: url('../fonts/HelveticaNeueCyr-Bold.woff2') format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}